In [2]:
import pandas as pd

In [21]:
TOTALS_COLS = ['General Electorate Totals', 'Maori Electorate Totals  Inclusive of Tangata Whenua Votes', 'Combined Totals']
COLS_TO_KEEP = ['Electoral District', 'Valid Total (a)+(b)', 'Electors on Master Roll' , 'Electoral Population']

df = pd.read_csv('../data/raw/1999/party-votes-and-turnout-by-electorate.csv',skiprows=3, header=1)
df = df.drop(0)
df = df[~df['Electoral District'].isin(TOTALS_COLS)]
df = df[~df["Electoral District"].isna()]
df.reset_index(drop=True, inplace=True)
df = df[COLS_TO_KEEP]
df

,Electoral District,Valid Total (a)+(b),Electors on Master Roll,Electoral Population
0,Albany,"34,465","41,815","55,007"
1,Aoraki,"34,025","39,665","54,106"
2,Auckland Central,"32,885","39,934","53,034"
3,Banks Peninsula,"37,532","42,584","54,694"
4,Bay of Plenty,"34,484","41,630","51,893"
...,...,...,...,...
62,Ikaroa-Rawhiti,"18,233","26,957","58,287"
63,Te Tai Hauauru,"15,789","24,725","54,443"
64,Te Tai Tokerau,"18,228","27,748","55,943"
65,Te Tai Tonga,"18,778","27,584","58,260"
66,Waiariki,"17,607","25,910","55,251"

In [19]:
df.loc[69]["Electoral District"]

'Maori Electorate Totals  Inclusive of Tangata Whenua Votes'